body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

.hero {
    position: relative;
    background-color: #eee;
    padding: 60px 20px;
    text-align: center;
}

.hero img {
    width: 100%;
    height: auto;
}

.hero-text {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
}

.hero-text h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

.hero-text button {
    padding: 10px 20px;
    background-color: #f76c6c;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.featured-products {
    background-color: white;
    padding: 40px;
}

.featured-products h2 {
    font-size: 2rem;
    margin-bottom: 30px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.product-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.product-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.product-card h3 {
    font-size: 1.2rem;
    margin: 10px 0;
}

.product-card p {
    color: #f76c6c;
    font-size: 1.1rem;
}

.product-card button {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.filter-btn {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 20px;
}

.filter-select {
    background-color: #f76c6c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

div div button:hover {
    background-color: #f0f0f0; 
    color: black; 
    transform: scale(1.1); 
}

    
div div button:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
